<div id="title" class="slide header">
  <h1 class="title_text">Find Own Bootcamp</h1>
</div>

<div id="slide1" class="slide">
  <div class="title">
    <h1 class="aniron">Lore</h1>
    <p class="aniron">Rivendell was established by Elrond in the Second Age of Middle-earth in SA 1697. During the War of the Elves and Sauron, Eregion was laid waste and Elrond brought the survivors to Rivendell, soon Sauron laid siege to it but was eventually beaten back. Following the establishment of the Last Alliance of Elves and Men the hosts of Gil-galad and Elendil march to Imladris and laid camp in there to prepare their arms and then proceeded southeast to Dagorlad.</p>
  </div>
</div>

<div id="slide2" class="slide">
  <div class="title">
    <h1>Friends who have passed this way</h1>
    <ul>
      <li>Connor</li>
      <li>Michael -- recently</li>
      <li>Rovshen -- 21 days ago</li>
    </ul>
  </div>
  <img class='slide-img' src="assets/Rivendell1.jpg"> 
  <img class='slide-img' src="/assets/rivendell4.jpg"> 
</div>

<div id="slide3" class="slide">
  <div class="title">
    <h1>Other travellers</h1>
    <p>Lorem ipsum dolor sit amet, in velit iudico mandamus sit, persius dolorum in per, postulant mnesarchum cu nam. Malis movet ornatus id vim, feugait detracto est ea, eam eruditi conceptam in. Ne sit explicari interesset. Labores perpetua cum at. Id viris docendi denique vim.</p>
  </div>
</div>

<div id="slide4" class="slide header">
    <h1>Onward</h1>
</div>