
	<h1>Index Page !!!!!</h1>
	
	<hr>
	<h3>Bootcamp</h3>

	<% Bootcamp.all.each do |b| %>
	<p><b><%= link_to "#{b.title}: ", bootcamp_path(b.id)%></b>
		<% b.profiles.each do |p|%>

			<%= link_to p.nick_name, user_path(p.id) %>

		<% end %>
	</p>
	<% end %>