
	<h1>Index Page !!!!!</h1>
	
	<hr>
	<h3>Bootcamp</h3>
	<% Bootcamp.all.each do |b| %>
	<p><%= "#{b.title}: " %>
		<% b.profiles.each do |p|%>
			<%= "#{p.first_name} #{p.last_name}" %>
		<% end %>
	</p>
	<% end %>