<h1>Editing Profile</h1>

<div class="row">
	<div class="col-md-6">
	<%= render 'form' %>
	</div>


<div class="col-md-6">
    <% if @profile.profession_id == 1 %>
        <% if current_user.profile.bootcamps.empty? %>
            <%= render 'dev_statuses/form_add_bootcamp' %>
        <% else %>
            <%= render 'dev_statuses/form_update_bootcamp' %>
        <% end %>
    <% end %>
</div>

</div>
<%= link_to 'Back', user_path(current_user) %>
