<h1 class='text-center'>Profile Settings</h1>

<div class="row">
	<div class="col-md-12">
		 <%= render 'profile_edit' %>
		<hr width='80%'>
		<div class="col-md-6">
			<%= render 'user_edit' %>
		<hr>
		<%= link_to 'Destroy = USER/PROFILE', user_path(@user), method: :delete, data: { confirm: 'Are you sure To Destroy?' }, class: "btn btn-danger" %>
		</div>
	</div>
</div>