<h1>PROFILES</h1>


<% @users.each do |p| %>

	<p><%= link_to Profile.full_name(p), p %></p> 
	
		<% blockk do %>
			<% if current_user.admin? && !current_user?(p) %>
			      | <%= link_to "delete", user_path(p), method: :delete, data: { confirm: "You sure?" } %>
			      (currently undeletable for admins)
		  	<% end %>
		  	</p> 
		<% end %>

<% end %>