<h1>PROFILES</h1>

<% @users.each do |u| %>

	<p><%= link_to Profile.full_name(u), u %>

	  <% if current_user.admin? && !current_user?(u) %>
	  (currently undeletable)
      | <%= link_to "delete", user_path(u), method: :delete, data: { confirm: "You sure?" } %>
  	<% end %>
  	</p> 
<% end %>